* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

body {
    background-color: #DAF0EE;
}

.nav-bar__container {
    /* border: 1px solid black; */
}

.nav-bar__ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 1.25rem;
    background-color: #9DB5B2;
    /* border: 1px solid black; */
}

.nav-bar__links {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1.25rem 0.9375rem;
    /* border: 1px solid black; */
}

.nav-bar__links:hover {
    cursor: pointer;
    background-color: grey;
    transition: all ease .5s;
}

.main-container {
    max-width: 70%;
    margin: 0 auto;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #9DB5B2;
    margin-top: 50px;
}

