* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.nav-bar__ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 1.25rem;
}

.nav-bar__links {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.9375rem 0.9375rem;
}

.nav-bar__links:hover {
    cursor: pointer;
    background-color: grey;
    transition: all ease .5s;
}

.main-container {
    max-width: 70%;
    margin: 0 auto;
}

.footer {
    text-align: center;
}